
<div class="container">
    <!-- Logo -->
    <div class="logo pull-left" href="login_index.htm">
        <img src="../static/images/logo.png" alt="系统首页">
        <h3 class="pc_title">考务管理</h3>
    </div>
    <div class="navbar-collapse pull-right nav-main-collapse collapse">
        <nav class="nav-main">
            <ul id="topMain" class="nav nav-pills nav-main">
                <li class="dropdown active"><a class="dropdown-toggle" href="./../item/list">题库管理</a></li>
                <li class="dropdown"><a class="dropdown-toggle" href="paper-list.htm">试卷管理</a></li>
                <li class="dropdown"><a class="dropdown-toggle" href="exam-org.htm">考试组织</a></li>
                <li class="dropdown"><a class="dropdown-toggle" href="#">考试统计</a></li>
                <li class="dropdown"><a class="dropdown-toggle" href="daily-practice.htm">每日练习</a></li>
                <li class="dropdown mega-menu"><!-- 用户信息 -->
                    <a class="dropdown-toggle" id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-user"></i> 金涛 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i> 用户信息</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-off"></i> 退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
