<link rel="stylesheet" type="text/css" href="${basePath}/static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="${basePath}/static/css/common.css">
<link rel="stylesheet" type="text/css" href="${basePath}/static/css/examMng/core.css">
<link rel="stylesheet" type="text/css" href="${basePath}/static/css/login.css">
<script src="${basePath}/static/js/respond.js"></script>

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='${basePath}/static/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>
<!-- <![endif]-->

<script type="text/javascript">
    window.jQuery || document.write("<script src='${basePath}/static/js/jquery-1.9.1.min.js'>"+"<"+"/script>");
</script>

<script type="text/javascript" src="${basePath}/static/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="${basePath}/static/js/examMng/common.js" ></script>
<script type="text/javascript" src="${basePath}/static/js/login.js" ></script>
<script type="text/javascript" src="${basePath}/static/js/global.js" ></script>
<script type="text/javascript" src="${basePath}/static/js/jquery.cookie.js" ></script>

<link rel="stylesheet" type="text/css" href="${basePath}/static/css/font/font-awesome.min.css">
<!--[if IE 7]><link rel="stylesheet" href="${basePath}/static/css/font/font-awesome-ie7.min.css"><![endif]-->

<script type="text/javascript" src="${basePath}/static/js/layer/layer.js" ></script>
<link rel="stylesheet" type="text/css" href="${basePath}/static/js/layer/layer.css">

<script type="text/javascript" src="${basePath}/static/js/layui/layui.js" ></script>
<link rel="stylesheet" type="text/css" href="${basePath}/static/js/layui/css/layui.css">