<#include "./admin_common.html" />
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>试卷列表</title>

    <link rel="stylesheet" type="text/css" href="${basePath}/static/css/examMng/paperMng.css">
    <script>
        $(function () {
            $("[data-toggle='tooltip']").tooltip();
        });
    </script>
</head>
<body>
<!--head begin-->
<div id="header" class="header headbg">
    <#include "./admin_header.html" />
    <!--head end-->

    <!--body begin-->
    <div class="main-container">
        <div class="container body-box">
            <div class="title-top">
                <p>试卷列表：</p>
                <a class="btn btn-success addpaper" href="${basePath}/paper/toAdd"><i
                        class="glyphicon glyphicon-plus-sign"></i>新增试卷</a>
            </div>
            <div class="paper-content">
                <#if list??>
                    <!-----试卷列表----->
                    <div>
                        <table class="table" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <th width="8%">序号</th>
                                <th>试卷名称</th>
                                <th width="10%">数量</th>
                                <th width="10%">总分</th>
                                <th width="12%">发布日期</th>
                                <th width="10%">编辑人</th>
                                <th width="10%">试卷状态</th>
                                <th width="10%">操作</th>
                            </tr>
                        </table>
                    </div>
                    <div class="minheight">
                        <#list list as paper>
                            <div class="border">
                                <table class="table-main" cellpadding="0" cellspacing="0" border="0">
                                    <tr id="content">
                                        <td class="snum" width="8%">${p_index+1}</td>
                                        <td align="left"><p class="bcolor paper-word mousezx" data-toggle="tooltip"
                                                            data-placement="bottom" data-html="true"
                                                            title="<span class='paper-info'>试卷介绍：</span>${paper.description}">
                                            ${paper.name}</p></td>
                                        <td width="10%" class="bcolor">${paper.questionCount}题</td>
                                        <td width="10%"><p class="bcolor mousezx" data-toggle="tooltip" data-html="true"
                                                           data-placement="bottom"
                                                           title="<div class='tipbox'><span>判断题：10道，1分/题，共10分；</span><span>单项选择：20道，2分/题，共40分；</span><span class='bnone'>多项选择：20道，2.5分/题，共50分。</span></div>">
                                            ${paper.score}分</p></td>
                                        <td width="12%">${paper.createTime?string("yyyy-MM-dd")}</td>
                                        <td width="10%">${paper.uname}</td>
                                        <td width="10%" class="rcolor">
                                            <#switch paper.finishStatus >
                                                <#case 0>
                                                    未完成
                                                    <#case 1>
                                                        已完成
                                                        <#default>
                                                            发布
                                            </#switch>
                                        </td>
                                        <td width="10%" class="caozo"><i class="glyphicon glyphicon-pencil"></i><a
                                                href="#">编辑</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </#list>


                    </div>
                    <div class="btn-group pagebox" role="group">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-triangle-left"></i>
                        </button>
                        <button type="button" class="btn btn-default">1</button>
                        <button type="button" class="btn btn-default">2</button>
                        <button type="button" class="btn btn-default">3</button>
                        <button type="button" class="btn btn-default">4</button>
                        <button type="button" class="btn btn-default">5</button>
                        <button type="button" class="btn btn-default">6</button>
                        <button type="button" class="btn btn-default">...</button>
                        <button type="button" class="btn btn-default">21</button>
                        <button type="button" class="btn btn-default">22</button>
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-triangle-right"></i>
                        </button>
                    </div>
                    <#else>
                        <!-----当前没有可用试卷 begin----->
                        <div class="no_paper">
                            <p><i class="glyphicon glyphicon-exclamation-sign"></i>当前没有可用试卷！</p>
                        </div>
                        <!-----当前没有可用试卷 end----->
                </#if>
            </div>
        </div>
    </div>
    <!--body end-->

    <!--footer begin-->
    <#include "./admin_footer.html" />
</div>
<!--footer end-->
</body>
</html>
