<#include "./admin_common.html" />
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>题库管理</title>
		<script src="${basePath}/static/js/jquery.selectlist.js" ></script>
		<script src="${basePath}/static/js/examMng/addTitle-add2.js"></script>
		<script src="${basePath}/static/js/examMng/addTitle-add2_dxxzts.js"></script>
		<link rel="stylesheet" href="${basePath}/static/css/examMng/examMng.css" />

	</head>
	<body>
		<script type="text/javascript">
			var titleType = 0;
			//select下拉框模拟
			$(function(){
				$('select').selectlist({
					zIndex: 10,
					height: 50,
					onChange:titleTypeOnChange
				});
				add_options(0,0,"正确");
				add_options(0,0,"错误")
			});
			//tips提示
			$(function () { $("[data-tip='tooltip']").tooltip(); });
			var checkTitleSelectedIdx = 0;
			
			function titleTypeOnChange(){
				var num = $(".select-button").val();
				if(num == "判断题"){
					$("#pdt").css("display","block");
					$("#dxxzt").css("display","none");
					$("#dxxzts").css("display","none");
                    $("#select-options").css("display","block");
                    $("#shortDiv").css("display","none");
					remove_addition();
					titleType = 0;
				}
				if(num == "单项选择题"){
					$("#pdt").css("display","none");
					$("#dxxzt").css("display","block");
					$("#dxxzts").css("display","none");
                    $("#select-options").css("display","block");
                    $("#shortDiv").css("display","none");
					titleType = 1;
					clear_check_status(1);
				}
				if(num == "多项选择题"){
					$("#pdt").css("display","none");
					$("#dxxzt").css("display","none");
					$("#dxxzts").css("display","block");
                    $("#select-options").css("display","block");
                    $("#shortDiv").css("display","none");
					titleType = 2;
					clear_check_status(2);
				}

                if(num == "简答题"){
                    $("#pdt").css("display","none");
                    $("#dxxzt").css("display","none");
                    $("#dxxzts").css("display","none");
                    titleType = 3;
                    $("#select-options").css("display","none");
                    $("#shortDiv").css("display", "");
                    clear_check_status(3);
                    remove_addition();

                }
				//$(".titletype-jt").text($("#titletype").children().eq(num).text());
				//$(".titletype-jt").css("color","#555");
				$("#titletype").css("display","none");
			}

		</script>
    
		<!--head begin-->
		<nav class="navbar headbg">
		  	<div class="container header">
		  		<p class="additem-title text-center">添加试题</p>
  			</div>
		</nav>
		<!--head end-->
		
		<!--body begin-->
		<div class="main-container">
			<div class="container info-add body-box">
				<div class="info-add-box">
					<p>${point.name}</p>
		  			<a href="javascript:history.back(-1);"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;返回</a>
				</div>
				<div class="additem-container" style="position: relative; z-index: 1;">
					<div class="input-group input-group-lg testtype">
						<span class="input-group-addon" id="sizing-addon1">题目类型</span>
						<!--<div class="titletype-jt" style="border-radius: 0px 4px 4px 0px;">请选择试题类型<span class="validate">试题类型为选择</span></div>-->
						<select id="jinji" name="jinji" style="height:60px">
							<option value="0">判断题</option>
							<option value="1">单项选择题</option>
							<option value="2">多项选择题</option>
							<option value="3">简答题</option>
						</select>
					</div>
					<!--
                    	时间：2016-06-08
                    	描述：选择试题类型，1判断题：则展示判断题的表单；2：单项选择：显示单项选择的框；3：多项选择：选择多项选择；
                    -->
					<!--<div class="input-group input-group-lg testtype reg-box" style="position: relative; z-index: 1;">
						<span class="input-group-addon">题目序号</span>
						<input type="text" value="请输入题目序号（最新序号10号）" class="form-control number" style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)"/>
						<span class="validate_input error error0"></span>
					</div>-->
					<div class="input-group input-group-lg tgtest reg-box" style="position: relative; z-index: 1;">
						<span class="input-group-addon tgbox">提干</span>
						<textarea type="text" id="stem" class="form-control tginput" placeholder='请输入提干内容' onblur="if (value ==''){ document.getElementById('stem').style.color='#999';}" onfocus="if (value =='请输入提干内容'){value =''; this.style.color='#333';}"></textarea>
						<span class="validate_input error error1"></span>
					</div>
					<div id="select-options">
						<div id="check_optx" class="answer_choose" style="display: none;">
						   <input type="radio" name="radio1" style="display: none;"></div>

					</div>
					<!--简答题答案-->
					<div class="input-group input-group-lg tgtest reg-box" style="position: relative; z-index: 1;display: none;" id="shortDiv">
						<span class="input-group-addon tmjx_box">答案描述</span>
						<textarea type="text" id="shortAnswer" class="form-control tginput"
								  placeholder='请输入答案描述'></textarea>
					</div>
					<!--简答题答案-->
					<!--题目解析-->
					<div class="input-group input-group-lg tgtest reg-box" style="position: relative; z-index: 1;">
						<span class="input-group-addon tmjx_box">题目解析</span>
						<textarea type="text" id="analysis"  class="form-control tginput" placeholder='请输入题目解析'></textarea>
						<span class="validate_input error error2"></span>
					</div>
					<!--题目解析-->
					<div id="pdt">
						<p style="color:red">*&nbsp;&nbsp;判断题有且只有一个选中项</p>
					</div>
					<div id="dxxzt" style="display: none;">
						<div class="input-group input-group-lg testtype" style="width: 100%;">
							<a class="btn btn-default btn-block btn-lg" href="javascript:add_options(1)"><i class="glyphicon glyphicon-plus-sign"></i>添加一个选项</a>
						</div>
						<p style="color:red">*&nbsp;&nbsp;单项选择题有且只有一个选中项</p>
					</div>
					<div id="dxxzts" style="display: none;">
						<div class="input-group input-group-lg testtype" style="width: 100%;">
							<a class="btn btn-default btn-block btn-lg" href="javascript:add_options(2)"><i class="glyphicon glyphicon-plus-sign"></i>添加一个选项</a>
						</div>
						<p style="color:red">*&nbsp;&nbsp;多项选择题有且至少两个选中项</p>
					</div>

					
					<div class="border-bottom"></div>
					<div class="input-group input-group-lg testtype text-center button-grop" style="position: relative; z-index: 1; margin: 0px auto;">
						<button id="view" type="button" class="btn btn-default"><i class="glyphicon glyphicon-list"></i>试题预览
						</button>
						<button id="demo3"  class="btn btn-success demo" href="" data-toggle="modal"><i class="glyphicon glyphicon-ok"></i>保	存</button>
					</div>
					
				</div>

			</div>
			
			<!--footer begin-->
				<div class="footer">
			<p>©某某市公安局-2016</p>
			<p>技术支持：服务有限公司®&nbsp;&nbsp;13000000000</p>
				</div>
			<!--footer end-->
		</div>
		<!--body end-->
		
	</body>
	
	<script>
		//添加试题的提示文字
		$(function(){

		    function getTypeDesc(i) {
				if(i==0){
				    return "判断题";
				}
				if(i==1){
				    return "单选选择题";
				}
				if(i==2){
				    return "多项选择题";
				}
				if(i==3){
				    return "简答题";
				}

				return "";

            }


            $("#view").click(function () {
				views();
            });

		    //试题预览
		    function views() {
                console.log(titleType);
                var options = [], answerStr = "";
                if (titleType < 3) {
                    for (var i = 0; i < flagArray.length; i++) {
                        options.push({
                            code: $("#select-options .testtype").eq(i).find(".input-group-addon").text().split(" ")[1],
                            text: $("#select-options .testtype").eq(i).find(".options").val(),
                            selectStatus: flagArray[i],
                            type: titleType
                        });
                    }

                    answerStr = getWords(flagArray).join(",");

                } else {
                    answerStr = $("#shortAnswer").val();
                }

                var data = {
                    pointId: '${point.id}',
                    itemId: '${point.itemId}',
                    type: titleType,
                    content: $("#stem").val(),
                    options: JSON.stringify(options),
                    analysis: $("#analysis").val(),
                    answer: answerStr,
                    pointName: '${point.name}/' + getTypeDesc(titleType),
                    typeName: getTypeDesc(titleType)
                };

                postBlank("${basePath}/question/view", data)
            }

            //试题保存
		    $("#demo3").click(function () {


                var options = [], answerStr = "";
                if (titleType < 3) {
                    for (var i = 0; i < flagArray.length; i++) {
                        options.push({
                            code: $("#select-options .testtype").eq(i).find(".input-group-addon").text().split(" ")[1],
                            text: $("#select-options .testtype").eq(i).find(".options").val(),
                            selectStatus: flagArray[i]
                        });
                    }

                    answerStr = getWords(flagArray).join(",");

                } else {
                    answerStr = $("#shortAnswer").val();
                }

                $("#stem").blur();
                if (isNullOrEmpty($("#stem").val())) {
                    layer.msg("提干不能为空",{  icon: 2,
                        time: 1000});
                    return;
                }

                if (titleType<3&&getWords(flagArray).length == 0) {
                    layer.msg("选项不能为空",{  icon: 2,
                        time: 1000});
                    return;
                }

                if (titleType == 3 && isNullOrEmpty($("#shortAnswer").val())) {
                    layer.msg("答案不能为空", {
                        icon: 2,
                        time: 1000
                    });
                    return;
                }

                var data = {
                    pointId: '${point.id}',
                    itemId: '${point.itemId}',
                    type: titleType,
                    content: $("#stem").val(),
                    options: JSON.stringify(options),
                    analysis: $("#analysis").val(),
                    answer: answerStr
                };
		        $.post("${basePath}/question/add",data,function (data) {
                    if(data.success){
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg(data.msg);
                        });
                        setTimeout(function () {
                            window.location.href="${basePath}/question/type?pointId=${point.id}";
                        }, 1500);
					}else{
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg(data.msg);
                        });
					}
                });

            });

		//判断题
			//题号获得焦点
			$(".number").focus(function(){
				$(".number").removeClass("errorC");
				$(".number").removeClass("checkedN");
				$(".error0").css("display","none");
			});
			//题号失去焦点
			$(".number").blur(function(){
				if( $(".number").val()==""|| $(".number").val()=="请输入题目序号（最新序号10号）")
				{ 
					$(".number").removeClass("checkedN");
					$(".number").addClass("errorC");
					$(".error0").html("请输入题目序号");
					$(".error0").css("display","block");
				}
				else
				{
					$(".number").addClass("checkedN");
					$(".number").removeClass("errorC");
					$(".error0").css("display","none");
				}
			});
			//题干获得焦点
			$("#stem").focus(function(){
				$("#stem").removeClass("errorC");
				$("#stem").removeClass("checkedN");
				$(".error1").css("display","none");
			});
			//题干失去焦点
			$("#stem").blur(function(){
				if( $("#stem").val()==""|| $("#stem").val()=="请输入提干内容")
				{ 
					$("#stem").removeClass("checkedN");
					$("#stem").addClass("errorC");
					$(".error1").html("题干内容不能为空");
					$(".error1").css("display","block");
				}
				else
				{
					$("#stem").addClass("checkedN");
					$("#stem").removeClass("errorC");
					$(".error1").css("display","none");
				}
			});
			//题目选项获得焦点
			$(".option0").focus(function(){
				$(".option0").removeClass("errorC");
				$(".option0").removeClass("checkedN");
				$(".error2").css("display","none");
			});
			//题目选项失去焦点
			$(".option0").blur(function(){
				if( $(".option0").val()==""|| $(".option0").val()=="请输入题目选项内容")
				{ 
					$(".option0").removeClass("checkedN");
					$(".option0").addClass("errorC");
					$(".error2").html("选项内容不能为空");
					$(".error2").css("display","block");
				}
				else
				{
					$(".option0").addClass("checkedN");
					$(".option0").removeClass("errorC");
					$(".error2").css("display","none");
				}
			});
			//题目选项获得焦点
			$(".option1").focus(function(){
				$(".option1").removeClass("errorC");
				$(".option1").removeClass("checkedN");
				$(".error3").css("display","none");
			});
			//题目选项失去焦点
			$(".option1").blur(function(){
				if( $(".option1").val()==""|| $(".option1").val()=="请输入题目选项内容")
				{ 
					$(".option1").removeClass("checkedN");
					$(".option1").addClass("errorC");
					$(".error3").html("选项内容不能为空");
					$(".error3").css("display","block");
				}
				else
				{
					$(".option1").addClass("checkedN");
					$(".option1").removeClass("errorC");
					$(".error3").css("display","none");
				}
			});
		//单项选择题
			//题号获得焦点
			$(".number_dx").focus(function(){
				$(".number_dx").removeClass("errorC");
				$(".number_dx").removeClass("checkedN");
				$(".error0_dx").css("display","none");
			});
			//题号失去焦点
			$(".number_dx").blur(function(){
				if( $(".number_dx").val()==""|| $(".number_dx").val()=="请输入题目序号（最新序号10号）")
				{ 
					$(".number_dx").removeClass("checkedN");
					$(".number_dx").addClass("errorC");
					$(".error0_dx").html("请输入题目序号");
					$(".error0_dx").css("display","block");
				}
				else
				{
					$(".number_dx").addClass("checkedN");
					$(".number_dx").removeClass("errorC");
					$(".error0_dx").css("display","none");
				}
			});
			//题干获得焦点
			$("#stem_dx").focus(function(){
				$("#stem_dx").removeClass("errorC");
				$("#stem_dx").removeClass("checkedN");
				$(".error1_dx").css("display","none");
			});
			//题干失去焦点
			$("#stem_dx").blur(function(){
				if( $("#stem_dx").val()==""|| $("#stem_dx").val()=="请输入提干内容")
				{ 
					$("#stem_dx").removeClass("checkedN");
					$("#stem_dx").addClass("errorC");
					$(".error1_dx").html("题干内容不能为空");
					$(".error1_dx").css("display","block");
				}
				else
				{
					$("#stem_dx").addClass("checkedN");
					$("#stem_dx").removeClass("errorC");
					$(".error1_dx").css("display","none");
				}
			});
			//题目选项获得焦点
			$(".option0_dx").focus(function(){
				$(".option0_dx").removeClass("errorC");
				$(".option0_dx").removeClass("checkedN");
				$(".error2_dx").css("display","none");
			});
			//题目选项失去焦点
			$(".option0_dx").blur(function(){
				if( $(".option0_dx").val()==""|| $(".option0_dx").val()=="请输入题目选项内容")
				{ 
					$(".option0_dx").removeClass("checkedN");
					$(".option0_dx").addClass("errorC");
					$(".error2_dx").html("选项内容不能为空");
					$(".error2_dx").css("display","block");
				}
				else
				{
					$(".option0_dx").addClass("checkedN");
					$(".option0_dx").removeClass("errorC");
					$(".error2_dx").css("display","none");
				}
			});
		})	
	</script>
</html>
