<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.ntes.domain.ext.PaperExtMapper">
    <select id="selectListByUid" parameterType="java.lang.Long"
            resultMap="com.fs.ntes.domain.mapper.PaperMapper.BaseResultMap">
        select
        <include refid="com.fs.ntes.domain.mapper.PaperMapper.Base_Column_List"/>
        from paper a
        where a.uid = #{uid} and a.status=0
    </select>
</mapper>