<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.ntes.domain.ext.PointExtMapper">

    <select id="selectList" parameterType="java.util.Map"
            resultMap="com.fs.ntes.domain.mapper.PointMapper.BaseResultMap">
        select
        <include refid="com.fs.ntes.domain.mapper.PointMapper.Base_Column_List"/>
        from point a
        <where>
            a.item_id=#{itemId} AND a.status=0
        </where>
    </select>

    <update id="delById" parameterType="java.util.Map">
        UPDATE point SET status=1 WHERE id=#{id}
    </update>

    <update id="updateQuestionCount" parameterType="java.util.Map">
        UPDATE point SET question_count=question_count+#{count},

        judge_count=IF(#{type}=0,judge_count+#{count},judge_count),
        radio_count=IF(#{type}=1,radio_count+#{count},radio_count),
        checkbox_count=IF(#{type}=2,checkbox_count+#{count},checkbox_count),
        short_count=IF(#{type}=3,short_count+#{count},short_count)
         WHERE id=#{pointId}
    </update>

    <select id="selectListByItemIds" parameterType="java.util.Map"
            resultMap="com.fs.ntes.domain.mapper.PointMapper.BaseResultMap">
        SELECT
        <include refid="com.fs.ntes.domain.mapper.PointMapper.Base_Column_List"/>
        from point a where a.item_id in
        <foreach collection="itemIds" index="index" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND a.`status`=0 AND a.question_count>0
    </select>
</mapper>