<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.ntes.domain.ext.RelationsExtMapper">

    <!--试卷和题目关联-->
    <update id="paperQuestionRelation" parameterType="java.util.Map">
        DELETE FROM relations WHERE initial_id=#{paperId} and refer_type=2 AND refer_id IN (SELECT id FROM question
        where `status`=0 AND point_id=#{pointId});
        <if test="questionIds!=null and questionIds.size>0">
            INSERT INTO relations(initial_id,refer_id,refer_type) VALUES
            <foreach collection="questionIds" item="item" open="" close="" separator="," index="index">
                (#{paperId},#{item},2)
            </foreach>
        </if>

    </update>

    <update id="paperItemRelation" parameterType="java.util.Map">
        INSERT INTO relations(initial_id,refer_id,refer_type) VALUES
        <foreach collection="itemIds" item="item" open="" close="" separator="," index="index">
            (#{paperId},#{item},0)
        </foreach>
    </update>

    <update id="paperPointRelation" parameterType="java.util.Map">
        INSERT INTO relations(initial_id,refer_id,refer_type) VALUES
        <foreach collection="pointIds" item="item" open="" close="" separator="," index="index">
            (#{paperId},#{item},1)
        </foreach>
    </update>

    <delete id="delRelations" parameterType="java.util.Map">
        DELETE FROM relations WHERE initial_id>0
        <if test="initialId !=null">
            AND initial_id=#{initialId}
        </if>
        <if test="referType !=null">
            and refer_type=#{referType}
        </if>
        <if test="referId !=null">
            and refer_id=#{referId}
        </if>
    </delete>

    <select id="selectQuestionIdsByPaperIdAndPointId" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT r.refer_id from relations r LEFT JOIN question q on r.refer_id=q.id  where r.initial_id=#{paperId} AND q.point_id=#{pointId}
    </select>

    <select id="countPointSelect" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1) FROM relations r LEFT JOIN question q on r.refer_id=q.id WHERE r.initial_id=#{paperId}
        AND q.point_id=#{pointId}
        <if test="type!=null">
            AND q.type=#{type}
        </if>
    </select>

</mapper>